@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.game__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: black; 
}

.whos__that_pokemon_card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  height: 35rem;
  margin-left: 2rem;
  margin-top: 2rem;
  background: #FFFFFF;
  box-shadow: 0px 3.35725px 16.7862px 4.19656px rgba(255, 214, 0, 0.39);
  border-radius: 10.0717px;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
}

.whos__that_pokemon_card .pokemon__img {
  width: 20rem;
  height: 20rem;
  margin-bottom: 3rem;
  filter: brightness(0);
  transition: all 0.7s ease-in-out;
}

.whos__that_pokemon_card .pokemon__img.show {
  filter: brightness(100%);
}

.options__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.options__container button {
  margin: 5px;
  padding: 10px 10px;
  font-size: 16px;
  background-color: #0a0505;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease; 
}

.options__container button:hover {
  background-color: red;
  transform: scale(1.125); 
}

button[disabled] {
  cursor: not-allowed; 
  opacity: 0.5; 
  pointer-events: none; 
}

button[disabled]:hover {
  background-color: inherit; 
  color: inherit; 
}

.message-label {
  color: black;
}

.refresh-button-container {
  position: absolute;
  top: 10px; 
  right: 10px; 
}

.refresh-button {
  background-color: transparent; 
  border: none; 
  color: black; 
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: transform 0.2s ease; 
}

.refresh-button:focus {
  outline: none; 
}

.refresh-button:hover {
  transform: scale(1.1); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
